<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html [
<!ENTITY ndash "&#8211;"> <!-- en dash, U+2013 ISOpub -->
<!ENTITY mdash "&#8212;">
    <!-- em dash, U+2014 ISOpub -->
    ]>
    <html xmlns="http://www.w3.org/1999/xhtml" xmlns:epub="http://www.idpf.org/2007/ops">

    <head>
        <title dir="ltr">{{chapterTitle html}}</title>
        <link href="stylesheet.css" type="text/css" rel="stylesheet" />
        <meta charset="utf-8" />
    </head>

    <body dir="ltr">
        <div>
            {{{html}}}
        </div>
    </body>

    </html>
