{
    "svelteSortOrder" : "scripts-styles-markup",
    "svelteStrictMode": false,
    "svelteBracketNewLine": false,
    "svelteAllowShorthand": true,
		"svelteIndentScriptAndStyle": true,
		"tabWidth":2,
		"useTabs":true,
		"singleQuote":false,
		"semi": false,
		"trailingComma": "es5"
  }
