<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:epub="http://www.idpf.org/2007/ops">

<head>
    <title>Table of Contents</title>
    <link href="stylesheet.css" type="text/css" rel="stylesheet" />
    <meta charset="utf-8" />
</head>

<body dir="ltr">
    <section class="frontmatter TableOfContents" epub:type="frontmatter toc">
        <h2 id='toc'>Table of Contents</h2>

        <nav xmlns:epub="http://www.idpf.org/2007/ops" epub:type="toc">
            <ol class='toc no-parts'>
                {{#each spine}}
                <li>
                    <a href="{{file}}.xhtml">{{chapterTitle file}}</a>
                </li>
                {{/each}}
            </ol>
        </nav>

        <nav xmlns:epub="http://www.idpf.org/2007/ops" epub:type="landmarks" id="guide">
            <h2>Guide</h2>
            <ol>
                <li>
                    <a epub:type="bodymatter" href="{{spine.[0].file}}.xhtml">Begin Reading</a>
                </li>
            </ol>
        </nav>
    </section>
</body>

</html>
