<html lang="{{book.config.metadata.lang}}">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>{{book.config.metadata.title}}
		-
	{{book.config.metadata.author}}</title>
	<link rel="stylesheet" type="text/css" href="css/bulma.min.css" />
	<style>
	.cover { 
		max-width: 350px; 
		margin: auto;
		border:  solid 1px;
	}
	</style>
</head>
<body>
<div class="container">

</div>
</body>
</html>
