<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Book</title>
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.3.0/jszip.min.js"
			integrity="sha256-J0jjrR5bYbE+saHyVcuvt2EIg5JAHN10VWyTHtVJV2E="
			crossorigin="anonymous"
		></script>
		<script src="epub.min.js"></script>
		<link rel="stylesheet" href="style.css" />
	</head>
	<body>
		<div id="viewer" class="spreads"></div>
		<a id="prev" href="#prev" class="arrow">‹</a>
		<a id="next" href="#next" class="arrow">›</a>
		<script>
			var book = ePub("book.epub")
			var rendition = book.renderTo("viewer", { width: 600, height: 400 })
			var displayed = rendition.display()

			rendition.on("keyup", keyListener)
			rendition.on("relocated", function (location) {
				console.log(location)
			})

			next.addEventListener(
				"click",
				function (e) {
					rendition.next()
					e.preventDefault()
				},
				false
			)

			prev.addEventListener(
				"click",
				function (e) {
					rendition.prev()
					e.preventDefault()
				},
				false
			)

			var keyListener = function (e) {
				// Left Key
				if ((e.keyCode || e.which) == 37) {
					rendition.prev()
				}

				// Right Key
				if ((e.keyCode || e.which) == 39) {
					rendition.next()
				}
			}

			document.addEventListener("keyup", keyListener, false)
		</script>
	</body>
</html>
